* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background-color: antiquewhite;
}

.header h1 {
    font-family: monospace;
    font-size: 50px;
    color: rgb(192, 75, 95, 0.8);
}

.header a {
    color: rgb(192, 75, 95);
    list-style-type: none;
    text-decoration: none;
}

.header a:hover {
    color: rgb(192, 75, 95, 0.6);
}

.header ul {
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    list-style-type: none;  
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.products {
    padding: 50px;
    text-align: center;
    background-color: beige;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products h4 {
    font-family: monospace;
    font-size: 12px;
    margin: 3px;
    padding: 10px;
    color: rgb(192, 75, 95);
    background-color: antiquewhite;
    border-color: rgb(192, 75, 95);
    border-radius: 15px;
    border-style: dashed;
}

.products div {
    padding: 10px;
}

.products img {
    width: 500px;
    border-radius: 15px;
}

.footer {
    background-color: antiquewhite;
    color: rgb(192, 75, 95);
    font-family: monospace;
    font-size: 10px;
    padding: 5px;
}

.footer h6 {
    font-size: 15px;
}

.footer .icons {
    display: flex;
    justify-content: right;
    align-items: right;
}

.footer img {
    padding: 5px;
}